<div class="container">
    <div class="row">
        <div class="col-xs-11 col-sm-11">
            <!-- buscador -->
            <!-- <app-search></app-search> -->
            <!-- buscador -->
        </div>
        <div class="col-xs-1 col-sm-1">
            <div class="text-right">
                <button (click)="openEditModal()" class="btn btn-outline-success" data-toggle="tooltip"
                    data-original-title="Edit" data-bs-toggle="modal" data-bs-target="#editEditor">
                    <i class="fa fa-plus"></i>
                </button>
            </div>
        </div>
    </div>
    <div class="card recent-sales overflow-auto">
        <div class="card-body">
            <pagination-controls (pageChange)="p = $event"></pagination-controls>
            <table [ngClass]="loading? 'table table-borderless datatable':'table table-borderless'">
                <thead>
                    <tr>
                        <th>Username</th>
                        <th>Email</th>
                        <th>Role</th>
                        <!-- <th>Creado</th> -->
                        <th class="text-nowrap">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let editor of editores |  paginate: { itemsPerPage: count, currentPage: p }">

                        <td><a [routerLink]="['/dashboard/user/', editor.uid]">{{editor.username}}</a> </td>
                        <td>{{editor.email}}</td>
                        <td>
                            <!-- {{user.role }}  -->
                            <span class="badge bg-dark" *ngIf="editor.role === 'SUPERADMIN'">SuperAdmin</span>
                            <span class="badge bg-primary" *ngIf="editor.role === 'ADMIN'">Admin</span>
                            <span class="badge bg-success" *ngIf="editor.role === 'EDITOR'">Editor</span>
                            <span class="badge bg-danger" *ngIf="editor.role === 'USER'">Invitado</span>
                        </td>
                        <!-- <td>{{editor.createdAt | date:'MMM d, y, h:mm:ss a'}} </td> -->
                        <td class="text-nowrap text-center">


                            <button (click)="onEditProject(editor)" class="btn btn-outline-success"
                                data-toggle="tooltip" data-original-title="Edit" data-bs-toggle="modal"
                                data-bs-target="#editEditor">
                                <i class="fa fa-edit"></i>
                            </button>
                            &nbsp;
                            <button (click)="eliminarEditor(editor._id)" class="btn btn-outline-danger"
                                data-toggle="tooltip" data-original-title="Borrar">
                                <i class="fa fa-trash"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <pagination-controls (pageChange)="p = $event"></pagination-controls>
        </div>
    </div>
</div>
<app-editor-edit (refreshEditorList)="getEditores()" [editorSeleccionado]="editorSeleccionado" (closeModal)="onClose()"
    #editEditor></app-editor-edit>