<!-- =======| Main |======= -->
<div class="container animated fadeInUp" id="main" class="main" role="main" name="users">

    <div class="col-xs-12">
        <div class="leftside">
            <app-back-button [title]="title"></app-back-button>
        </div>

        <div class="clear"></div>

        <section class="section dashboard">

            <div class="row card">
                <div class="card-body">
                    <div class="col-12 col-md-6">
                    <form class="form p-t-20 form-horizontal form-material" [formGroup]="editorForm"
                        (submit)="crearEditor()">
                        <div class="row">
                            <div class="col-12 col-md-6">
                                <div class="form-group ">
                                    <input class="form-control" type="text" formControlName="username"
                                        placeholder="username">
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="form-group ">
                                    <input class="form-control" type="text" formControlName="email" placeholder="Email">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-md-6">
                                <div class="form-group ">
                                    <input class="form-control" type="password" autocomplete="false"
                                        formControlName="password" placeholder="Contraseña">
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="form-group">
                                    <input class="form-control" type="password" autocomplete="false"
                                        formControlName="password2" placeholder="Confirmar Contraseña">
                                </div>
                            </div>
                        </div>


                        <input type="hidden" formControlName="id">
                        <button (click)="crearEditor()" class="btn btn-primary">Submit</button>
                    </form>
                </div>
                </div>
            </div>

        </section>

    </div>
</div>
<!--/main-->