<div class="modal fade" id="editEditor" tabindex="-1" aria-labelledby="categoryModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="categoryModalLabel">{{title}}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                    (click)="onClose()"></button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <form enctype="multipart/form-data" [formGroup]="editorForm">
                            <div class="row">
                                <div class="col-12 col-md-6">
                                    <div class="form-group ">
                                        <label >Username <span class="required">*</span></label>
                                        <input class="form-control" type="text" formControlName="username"
                                            placeholder="username">
                                        <div *ngIf="editorForm.get('username')?.touched && editorForm.get('username')?.invalid"
                                            class="text-danger">
                                            <div *ngIf="editorForm.get('username')?.errors?.['required']">
                                                Campo Requerido
                                            </div>
                                            <div *ngIf="editorForm.get('username')?.errors?.['minlength']">
                                                 Coloque un Nombre de Usuario
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6">
                                    <div class="form-group ">
                                        <label >Email <span class="required">*</span></label>
                                        <input class="form-control" type="text" formControlName="email"
                                            placeholder="Email">
                                        <div *ngIf="editorForm.get('email')?.touched && editorForm.get('email')?.invalid"
                                            class="text-danger">
                                            <div *ngIf="editorForm.get('email')?.errors?.['required']">
                                                Campo Requerido
                                            </div>
                                            <div *ngIf="editorForm.get('email')?.errors?.['minlength']">
                                                Coloque un Email Valido
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12 col-md-6">
                                    <div class="form-group ">
                                        <label >Contraseña <span class="required">*</span></label>
                                        <input class="form-control" type="password" autocomplete="false"
                                            formControlName="password" placeholder="Contraseña">
                                            <div *ngIf="editorForm.get('password')?.touched && editorForm.get('password')?.invalid"
                                            class="text-danger">
                                            <div *ngIf="editorForm.get('password')?.errors?.['required']">
                                                Campo Requerido
                                            </div>
                                            <div *ngIf="editorForm.get('password')?.errors?.['minlength']">
                                                Coloque un Email Valido
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6">
                                    <div class="form-group">
                                        <label >Confirmar Contraseña <span class="required">*</span></label>
                                        <input class="form-control" type="password" autocomplete="false"
                                            formControlName="password2" placeholder="Confirmar Contraseña">
                                            <div *ngIf="editorForm.get('password2')?.touched && editorForm.get('password2')?.invalid"
                                            class="text-danger">
                                            <div *ngIf="editorForm.get('password2')?.errors?.['required']">
                                                Campo Requerido
                                            </div>
                                            <div *ngIf="editorForm.get('password2')?.errors?.['minlength']">
                                                Coloque un Email Valido
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-6">
                                    <button (click)="crearEditor()" class="btn btn-outline-success">
                                        {{ editorSeleccionado ? 'Actualizar y Continuar' : 'Crear y Continuar' }}
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                    (click)="onClose()">Cerrar</button>
            </div>
        </div>
    </div>
</div>