<div class="modal fade" id="editEditor" tabindex="-1" aria-labelledby="categoryModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="categoryModalLabel">{{title}}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                    (click)="onClose()"></button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <form enctype="multipart/form-data" [formGroup]="editorForm">
                            <div class="row">
                                <div class="col-12 col-md-6">
                                    <div class="form-group ">
                                        <input class="form-control" type="text" formControlName="username"
                                            placeholder="username">
                                    </div>
                                </div>
                                <div class="col-12 col-md-6">
                                    <div class="form-group ">
                                        <input class="form-control" type="text" formControlName="email"
                                            placeholder="Email">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12 col-md-6">
                                    <div class="form-group ">
                                        <input class="form-control" type="password" autocomplete="false"
                                            formControlName="password" placeholder="Contraseña">
                                    </div>
                                </div>
                                <div class="col-12 col-md-6">
                                    <div class="form-group">
                                        <input class="form-control" type="password" autocomplete="false"
                                            formControlName="password2" placeholder="Confirmar Contraseña">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-6">
                                    <button (click)="crearEditor()" class="btn btn-outline-success">
                                        {{ editorSeleccionado ? 'Actualizar y Continuar' : 'Crear y Continuar' }}
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                    (click)="onClose()">Cerrar</button>
            </div>
        </div>
    </div>
</div>