<!-- =======| Main |======= -->
<div class="container animated fadeInUp" id="main" class="main" role="main" name="users">

    <div class="col-xs-12">
        <div class="leftside">
            <!-- Page Title -->
            <app-back-button [title]="title"></app-back-button>
        </div>
        
        <div class="clear"></div>

        <section class="section dashboard">
            <app-loading *ngIf="loading"></app-loading>
            <div class="row" *ngIf="!loading">
                <div class="col-12 col-md-6">

                    <form enctype="multipart/form-data" [formGroup]="sideadviceForm" (ngSubmit)="editCurso()">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Titulo<span class="required">*</span></label>
                            <input formControlName="titulo" type="title" class="form-control" required>
                        </div>

                        <div class="form-group ">
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label for="select-input">Cómo abre?<span class="required">*</span></label>
                                    <select class="form-control " formControlName="target">
                                  <option disabled value="">SELECCIONAR</option>
                                  <option  value ="_blank">Ventana Nueva</option>
                                  <option  value ="_self">Misma Ventana</option>
                                </select>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Url<span class="required">*</span></label>
                            <input formControlName="url" type="title" class="form-control" required>
                        </div>

                        <!-- <input type="hidden" formControlName="id"> -->
                        <button (click)="editCurso()" class="btn btn-primary">Guardar</button>
                    </form>
                </div>
                <app-loading *ngIf="loadingImage"></app-loading>
                <div class="col-12 col-md-6" *ngIf="!loadingImage">
                    <label> {{'Anexe su foto'}}</label>
                    <br>
                    <div class="row">

                        <div class="col-xs-12">
                            <div class="especificaciones">
                                <h4>{{'Especificaciones'}}:</h4>
                                <ul>
                                    <li>{{'Tamaño máximo'}}: 320px x 400px</li>
                                    <li>{{'Peso máximo'}}: 500 kb</li>
                                    <li>{{'Formato permitido'}}: jpg, .gif, .png</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-xs-12" *ngIf="sideadvice">
                            <div class="text-center">
                                <img *ngIf="!imgTemp " [src]="sideadvice.img | imagenPipe: 'sideadvertisings'" class="img-responsive img-thumbnail" alt="">
                                <!-- <img *ngIf="!imgTemp" src="./assets/images/no-image.jpg" class="img-responsive img-thumbnail" alt=""> -->
                                <img *ngIf="imgTemp" [src]="imgTemp" class="img-responsive">
                            </div>
                            <input type="file" (change)="cambiarImagen($event.target.files[0])">
                            <br>
                            <br>
                            <button type="button" [disabled]="!imagenSubir" (click)="subirImagen()" class="btn btn-success waves-effect waves-light m-r-10 btn-block">
                  <i class="fa fa-save"></i> Cambiar imagen
                 </button>
                        </div>
                    </div>
                </div>
            </div>

        </section>

    </div>
</div>
<!--/main-->