<!-- =======| Main |======= -->
<div class="container animated fadeInUp" id="main" class="main" role="main" name="users">

    <div class="col-xs-12">
        <div class="leftside">
            <!-- Page Title -->
            <div class="pagetitle">
                <h1><i class="bx bxs-user-account"></i> {{title}}</h1>
                <nav>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a routerLink="/"><i class="fa fa-home"></i> Inicio</a></li>
                        <li class="breadcrumb-item active">{{title}}</li>
                    </ol>
                </nav>
            </div>
            <!-- End Page Title -->
            <div class="buton">
                <button class="btn btn-outline-danger pull-right" href="javascript:void(0)" (click)="goBack()">Volver</button>
            </div>
        </div>
        

        <div class="clear"></div>


        <section class="section dashboard">


            <!-- Recent Pagos -->

            <div class="container">
                <div class="row">
                    <div class="col-xs-11 col-sm-11">
                        <!-- buscador -->
                        <!-- <app-search></app-search> -->
                        <!-- buscador -->
                    </div>
                    <div class="col-xs-1 col-sm-1">
                        <div class="text-right">
                            <button class="btn btn-primary" [routerLink]="['/dashboard/banner/create/']">
              <i class="fa fa-pencil"></i>
              Crear
            </button>
                        </div>
                    </div>
                </div>


                <div class="card recent-sales overflow-auto">


                    <div class="card-body">


                        <table [ngClass]="loading? 'table table-borderless datatable':'table table-borderless'">
                            <thead>
                                <tr>
                                    <th>Imagen</th>
                                    <th>Nombre</th>
                                    <th>target</th>
                                    <th>Nombre Boton</th>
                                    <th>Status</th>
                                    <th>Accion</th>
                                    <th class="text-nowrap">Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <!-- <tr *ngFor="let banner of banners |  paginate: { itemsPerPage: count, currentPage: p }"> -->
                                <tr *ngFor="let banner of banners ">
                                    <td>
                                        <div class="image">
                                            <div *ngIf="!banner.img ">
                                                <img [src]="banner.img | imagenPipe: 'banners'" style="height: 50px; width: 50px;" class="img-circle avatar">
                                            </div>
                                            <div *ngIf="banner.img">
                                                <img [src]="banner.img | imagenPipe: 'banners'" style="height: 50px; width: 50px;" class="img-circle avatar">

                                            </div>
                                        </div>
                                    </td>
                                    <td>{{banner.titulo}}</td>
                                    <td>{{banner.target}}</td>
                                    <td>{{banner.botonName}}</td>
                                    <td>
                                        <!-- {{plan.status }} -->
                                        <span class="badge bg-success" *ngIf="banner.status === 'Activo'">Publicado</span>
                                        <span class="badge bg-danger" *ngIf="banner.status === 'Desactivado'">No Publicado</span>
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-success" *ngIf="banner.status == 'Desactivado'" (click)="activar(banner._id)"><span class="fa fa-check"></span> Activar</button>
                                        <button type="button" class="btn btn-primary" *ngIf="banner.status == 'Activo'" (click)="desactivar(banner._id)"><span class="fa fa-check"></span> Desactivar</button>

                                    </td>
                                    <td class="text-nowrap text-center">
                                        <a [routerLink]="['/dashboard/banner/edit', banner._id]" class="cursor" data-toggle="tooltip" data-original-title="Edit">
                                            <div class="btn btn-success"><i class="fa fa-edit"></i></div>
                                        </a>
                                        <a (click)="eliminarCurso(banner._id)" class="cursor" data-toggle="tooltip" data-original-title="Borrar">
                                            <div class="btn btn-danger"><i class="fa fa-trash"></i></div>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>

                        </table>
                        <!-- <pagination-controls (pageChange)="p = $event"></pagination-controls> -->

                    </div>

                </div>
            </div>
            <!-- End Recent Pagos -->

        </section>
    </div>

</div>
<!--/main-->