

@media(min-width:768px){
    .col-sm-6,  .col-md-6{
        float: left;
        padding-right: 15px;
    }
    
    .col-sm-6:nth-child(2), 
    .col-sm-6:nth-child(4), 
    .col-sm-6:nth-child(6), 
    .col-md-6:nth-child(2), 
    .col-md-6:nth-child(6), 
    .col-md-6:nth-child(4){
        padding-right: 0px;
    }
}