<!-- =======| Main |======= -->
<div class="container animated fadeInUp" id="main" class="main" role="main" name="users">

    <div class="col-xs-12">
        <div class="leftside">
            <!-- Page Title -->
            <div class="pagetitle">
                <h1><i class="bx bxs-user-account"></i> {{title}}</h1>
                <nav>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a routerLink="/"><i class="bi bi-house"></i> Inicio</a></li>
                        <li class="breadcrumb-item"><a routerLink="/dashboard/configuraciones">Configuraciones</a></li>
                        <li class="breadcrumb-item active">{{title}}</li>
                    </ol>
                </nav>
            </div>
            <!-- End Page Title -->
            <div class="buton">
                <button class="btn btn-outline-danger pull-right" href="javascript:void(0)" (click)="goBack()">Volver</button>
            </div>
        </div>
        
        <div class="clear"></div>



        <section class="section dashboard">

            <div class="row">
                <div class="col-12">


                    <form enctype="multipart/form-data" [formGroup]="planForm" (ngSubmit)="editPlan()">
                        <div class="form-group col-xs-12 col-sm-6 col-md-6">
                            <label for="exampleInputEmail1">Nombre <span class="required">*</span></label>
                            <input formControlName="name" type="text" class="form-control" required>
                        </div>
                        <div class="form-group col-xs-12 col-sm-6 col-md-6">
                            <label for="exampleInputEmail1">Precio <span class="required">*</span></label>
                            <input formControlName="price" type="number" min="0" class="form-control" required>
                        </div>
                        <div class="form-group col-xs-12 col-sm-6 col-md-6">
                            <label for="exampleInputEmail1">Color <span class="required">*</span></label>
                            <select name="" id="input" class="form-control" formControlName="color">
                              <option value="">Seleccione</option>
                              <option value="#930b32">Vinotinto</option>
                              <option value="#9ca3ad">Gris</option>
                              <option value="#cfd5de">Gris Claro</option>
                          </select>

                        </div>
                        <div class="form-group col-xs-12 col-sm-6 col-md-6">
                            <label for="exampleInputEmail1">Tiempo <span class="required">*</span></label>
                            <input formControlName="tiempo" type="text" class="form-control">
                        </div>
                        <div class="form-group col-xs-12 col-sm-6 col-md-6">
                            <label for="exampleInputEmail1">Texto para tienda <span class="required">*</span></label>
                            <textarea formControlName="description" id="description" cols="30" rows="4" class="form-control" required></textarea>
                        </div>
                        <div class="form-group col-xs-12 col-sm-6 col-md-6">
                            <label for="exampleInputEmail1">Descripción general <span class="required">*</span></label>
                            <textarea formControlName="adicional" id="adicional" cols="30" rows="4" class="form-control" required></textarea>
                            <!-- <ckeditor [editor]="Editor" (ready)="onReady($event)" data="<p>Hello, world!</p>" formControlName="adicional" value="adicional" rows="5" class="form-control" required></ckeditor> -->
                        </div>

                        <!-- <input type="hidden" formControlName="id"> -->

                        <button (click)="editPlan()" class="btn btn-primary">Submit</button>
                    </form>


                </div>
            </div>

        </section>

    </div>
</div>
<!--/main-->