<!-- ============================================================== -->
<!-- footer -->
<!-- ============================================================== -->
<footer class="footer"> <small>© {{year}} | Daniel's Project. | Desarrollado por: <a href="http://malcolmcordova.com" target="_blank">Malcolm Córdova Studio Design</a></small> </footer>
<!-- ============================================================== -->
<!-- End footer -->
<!-- ============================================================== -->