<div class="container animated fadeInUp" id="main" class="main" role="main" name="users">
    <div class="col-xs-12">
        <div class="leftside">
            <!-- Page Title -->
            <app-back-button [title]="title"></app-back-button>
        </div>

        <div class="clear"></div>

        <section class="section dashboard">
            <div class="container">
                <form enctype="multipart/form-data" [formGroup]="planpaypalForm" (ngSubmit)="editPlan()">
                    <div class="row">
                        <div class="form-group col-xs-12 col-sm-4">
                            <label for="select-input" >product_id <span
                                    class="required">*</span></label>
                            <select class="form-control " formControlName="product_id">
                                <option disabled value=" ">SELECCIONAR</option>
                                <option *ngFor="let item of productPaypal" [value]="item.id">
                                    {{item.name}} | {{item.id}} </option>
                            </select>
                            <div *ngIf="planpaypalForm.get('product_id')?.touched && planpaypalForm.get('product_id')?.invalid"
                                class="text-danger">
                                <div *ngIf="planpaypalForm.get('product_id')?.errors?.['required']">
                                    Campo Requerido
                                </div>
                                <div *ngIf="planpaypalForm.get('product_id')?.errors?.['minlength']">
                                    Seleccione una opción
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-xs-12 col-sm-4">
                            <label for="exampleInputEmail1">name <span class="required">*</span></label>
                            <input formControlName="name" type="text" class="form-control" required />
                            <div *ngIf="planpaypalForm.get('name')?.touched && planpaypalForm.get('name')?.invalid"
                                class="text-danger">
                                <div *ngIf="planpaypalForm.get('name')?.errors?.['required']">
                                    Campo Requerido
                                </div>
                            </div>
                        </div>

                        <!-- <div class="form-group col-xs-12 col-sm-4">
                                            <div class="col-lg-12">
                                                <div class="form-group">
                                                    <label for="select-input">status<span
                                                            class="required">*</span></label>
                                                    <select class="form-control" formControlName="status">
                                                        <option disabled value="">SELECCIONAR</option>
                                                        <option value="ACTIVE">Activo</option>
                                                        <option value="INACTIVE">Inactivo</option>
                                                    </select>
                                                    <div *ngIf="planpaypalForm.get('product_id')?.touched && planpaypalForm.get('product_id')?.invalid"
                                                            class="text-danger">
                                                            <div
                                                                *ngIf="planpaypalForm.get('product_id')?.errors?.['required']">
                                                                Campo Requerido
                                                            </div>
                                                            <div
                                                                *ngIf="planpaypalForm.get('product_id')?.errors?.['minlength']">
                                                                Seleccione una opción
                                                            </div>
                                                        </div>
                                                </div>
                                            </div>
                                        </div> -->
                        <div class="form-group col-xs-12 col-sm-4">
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label for="select-input">frequency (tiempo)<span class="required">*</span></label>
                                    <select class="form-control" formControlName="interval_unit"
                                        value="planpaypalSeleccionado.billing_cycles[0].frequency.interval_unit">
                                        <option disabled value="">SELECCIONAR</option>
                                        <!-- <option *ngFor="let item of planpaypalSeleccionado" [value]="item.interval_unit" >{{item.interval_unit}} </option> -->
                                        <option value="MONTH">Mensual</option>
                                        <option value="YEAR">Anual</option>
                                        <option value="WEEK">Semanal</option>
                                        <option value="DAY">diario</option>
                                    </select>
                                    <div *ngIf="planpaypalForm.get('interval_unit')?.touched && planpaypalForm.get('interval_unit')?.invalid"
                                        class="text-danger">
                                        <div *ngIf="planpaypalForm.get('interval_unit')?.errors?.['required']">
                                            Campo Requerido
                                        </div>
                                        <div *ngIf="planpaypalForm.get('interval_unit')?.errors?.['minlength']">
                                            Seleccione una opción
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-xs-12 col-sm-4">
                            <label>total_cycles (0 = infinito) <span class="required">*</span></label>
                            <input formControlName="total_cycles" type="number" min="0" class="form-control" />
                            <div *ngIf="planpaypalForm.get('total_cycles')?.touched && planpaypalForm.get('total_cycles')?.invalid"
                                class="text-danger">
                                <div *ngIf="planpaypalForm.get('total_cycles')?.errors?.['required']">
                                    Campo Requerido
                                </div>
                                <div *ngIf="planpaypalForm.get('total_cycles')?.errors?.['minlength']">
                                    Coloque una frecuenca entre 1 y 12
                                </div>
                            </div>
                        </div>

                        <div class="form-group col-xs-12 col-sm-4">
                            <label>fixed_price (precio mensual) <span class="required">*</span></label>
                            <input formControlName="fixed_price" type="number" min="0" class="form-control" />
                            <div *ngIf="planpaypalForm.get('fixed_price')?.touched && planpaypalForm.get('fixed_price')?.invalid"
                                class="text-danger">
                                <div *ngIf="planpaypalForm.get('fixed_price')?.errors?.['required']">
                                    Campo Requerido
                                </div>
                                <div *ngIf="planpaypalForm.get('fixed_price')?.errors?.['minlength']">
                                    Coloque una precio ejem 10.00
                                </div>
                            </div>
                        </div>

                        <div class="form-group col-xs-12 col-sm-4">
                            <label>setup_fee (cuota inicial) <span class="required">*</span></label>
                            <input formControlName="setup_fee" type="number" min="0" class="form-control" />

                            <div *ngIf="planpaypalForm.get('setup_fee')?.touched && planpaypalForm.get('setup_fee')?.invalid"
                                class="text-danger">
                                <div *ngIf="planpaypalForm.get('setup_fee')?.errors?.['required']">
                                    Campo Requerido
                                </div>
                                <div *ngIf="planpaypalForm.get('setup_fee')?.errors?.['minlength']">
                                    Coloque una cuota inicial
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- <input type="hidden" formControlName="id"> -->
                    <button (click)="editPlan()" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </section>
    </div>
</div>
<!--/main-->